.hero-section{
    padding: 50px;
    height: 200px;
    background-image: url('../images/backgrounds/fries-hero-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: inherit;
}

.hero-section > .top-heading{
    padding: 1px 20px;
    background-color: black;
    color: white;
    width: 215px;
    border-radius: 2px;
    font-weight: bold;
}

.hero-section > .bottom-heading{
    padding: 1px 20px;
    width: 106px;
    background-color: #cea135;
    color: white;
    margin-top: 15px;
    border-radius: 2px;
}

/* Features-section styless */
.features-section {
    padding-right: 70px;
    padding-left: 70px;
    height: 400px;
    background-image: url('../images/backgrounds/fries-multiply-bg.jpg');
    background-color: #cea135;
    background-repeat: repeat-x repeat-y;
    display: flex;
    justify-content: center;
    color: #111211;
    border-top: 10px solid white;
    box-shadow: inset 0px -26px 79px -8px black;
}

.features-section > .columns-wrapper{
    
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu Condesed',sans-serif;
    font-size: 0.6em;
}

.features-section > .columns-wrapper > .column{
    padding: 15px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent; /*tricky*/
    border-radius: 10px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column:hover{
    border-bottom: 5px solid #11122b;
}

.features-section > .columns-wrapper > .column :nth-child(1){
    font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2){
    font-weight: 900;
    font-size: 1.5em;
    transition: 0.5s;
}

.features-section > .columns-wrapper > .column :nth-child(2):hover{
    letter-spacing: 0.5px;
}

.features-section > .columns-wrapper > .column :nth-child(3){
    letter-spacing: 2px;
}

/* Footer-wrapper styles */
/*   */

